@import '~@/assets/style/variables.scss';

// 页面flex 横纵沾满布局
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
// 大屏盒子公共样式
.data-screen-wrapper {
  width: 100%;
  height: 100%;
  .data-screen-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s;
    transform-origin: left top;
  }
}

.loading-mask {
  .el-icon-loading {
    color: $themeBg;
  }
}

// 页面加载进度条
#nprogress .bar {
  background-color: $themeBg;
}
