@font-face {
  font-family: DIN OT-Bold;
  src: url('../fonts/DIN-Bold.otf');
}
@font-face {
  font-family: LiquidCrystal-Light;
  src: url('../fonts/LiquidCrystal-Light.otf');
}
@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('../fonts/YouSheBiaoTiHei-2.ttf');
}