@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.layout-flex {
  display: flex;
}
.layout-flex.row {
  flex-direction: row;
}
.layout-flex.row.center {
  justify-content: center;
  align-items: center;
}
.layout-flex.row.center-row {
  justify-content: center;
}
.layout-flex.row.center-column {
  align-items: center;
}
.layout-flex.row.between {
  justify-content: space-between;
}
.layout-flex.column {
  flex-direction: column;
}
.layout-flex.column.center {
  justify-content: center;
  align-items: center;
}
.layout-flex.column.center-row {
  align-items: center;
}
.layout-flex.column.center-column {
  justify-content: center;
}
.layout-flex.column.between {
  justify-content: space-between;
}
.layout-flex > .flex {
  flex: 1;
}
.layout-flex > .flex1 {
  flex: 1;
  overflow: hidden;
}
.layout-flex > .flex2 {
  flex: 2;
  overflow: hidden;
}
.layout-flex > .flex3 {
  flex: 3;
  overflow: hidden;
}
.layout-flex > .flex4 {
  flex: 4;
  overflow: hidden;
}
.layout-flex > .flex5 {
  flex: 5;
  overflow: hidden;
}
.layout-flex > .flex6 {
  flex: 6;
  overflow: hidden;
}
.layout-flex > .flex7 {
  flex: 7;
  overflow: hidden;
}
.layout-flex > .flex8 {
  flex: 8;
  overflow: hidden;
}
.layout-flex > .flex9 {
  flex: 9;
  overflow: hidden;
}

.layout-inline {
  display: inline;
  line-height: normal;
}

.layout-inline-container {
  font-size: 0;
  display: inline-block;
  line-height: normal;
  zoom: 1;
}
.layout-inline-container > * {
  font-size: 1rem;
  display: inline;
  line-height: normal;
}
.layout-inline-container > .right {
  float: right;
}
.layout-inline-container > .left {
  float: left;
}
.layout-inline-container.clear::after {
  content: "";
  display: block;
  clear: both;
}

.layout-inline-block {
  display: inline-block;
}

.layout-inline-block-container {
  font-size: 0;
  display: inline-block;
  zoom: 1;
}
.layout-inline-block-container > * {
  display: inline-block;
  font-size: 1rem;
}
.layout-inline-block-container > .right {
  float: right;
}
.layout-inline-block-container > .left {
  float: left;
}
.layout-inline-block-container.clear::after {
  content: "";
  display: block;
  clear: both;
}

.layout-block {
  display: block;
}

.layout-block-container {
  display: block;
}
.layout-block-container > * {
  display: block;
}

.layout-table {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.layout-table.center {
  margin: 0 auto;
}
.layout-table .caption {
  display: table-caption;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  font-size: 1.5rem;
  caption-side: top;
}
.layout-table .caption.bottom {
  caption-side: bottom;
  font-size: 1.125rem;
  font-weight: normal;
}
.layout-table .caption.title1 {
  font-size: 1.5rem;
}
.layout-table .caption.title2 {
  font-size: 1.25rem;
}
.layout-table .caption.title3 {
  font-size: 1.125rem;
}
.layout-table .colgroup {
  display: table-column-group;
}
.layout-table .colgroup > * {
  display: table-column;
}
.layout-table .header {
  display: table-header-group;
}
.layout-table .body {
  display: table-row-group;
}
.layout-table .footer {
  display: table-footer-group;
}
.layout-table > .tr, .layout-table > .header > .tr, .layout-table > .body > .tr, .layout-table > .footer > .tr {
  display: table-row;
  line-height: 1.75;
  font-size: 1rem;
}
.layout-table > .tr > *, .layout-table > .header > .tr > *, .layout-table > .body > .tr > *, .layout-table > .footer > .tr > * {
  display: table-cell;
  border: 1px solid #e3e3e3;
  padding: 0 5px;
}
.layout-table > .header > .tr > * {
  font-weight: bold;
}
.layout-table > .header > .tr {
  background-color: #e3e3e3;
}
.layout-table > .footer > .tr {
  background-color: #e9e9e9;
}

.layout-grid {
  display: grid;
}

.custom-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
}
.custom-box .header {
  height: 2.5rem;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 1rem;
}
.custom-box .body {
  flex: 1;
  overflow: hidden;
  padding: 0.5rem 1rem;
}
.custom-box .footer {
  height: 3.125rem;
  border-top: 1px solid #e3e3e3;
  padding: 0 1rem;
}
.custom-box .header,
.custom-box .footer {
  display: flex;
  align-items: center;
}
.custom-box .header > .right,
.custom-box .footer > .right {
  margin-left: auto;
}
.custom-box .header.center,
.custom-box .footer.center {
  justify-content: center;
}
.custom-box .header.center > .right,
.custom-box .footer.center > .right {
  margin-left: unset;
}
.custom-box.shadow {
  box-shadow: 1px 1px 3px 2px #e3e3e3;
}

.custom-list {
  display: flex;
  flex-direction: column;
}
.custom-list > .item {
  padding: 0.5rem;
  margin: 0 5px;
}
.custom-list > .item + .item {
  border-top: 1px solid #e3e3e3;
}
.custom-list > .item > .title + .desc {
  margin-top: 5px;
}
.custom-list > .item > .desc {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #909399;
}

.link {
  color: #409EFF;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
  color: blue;
  text-shadow: 0px 0px 1px cadetblue;
}
.link:active {
  color: blueviolet;
}
.link:visited {
  color: blueviolet;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.font-size-12px {
  font-size: 12px;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-18px {
  font-size: 18px;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-22px {
  font-size: 22px;
}

.font-size-24px {
  font-size: 24px;
}

.font-size-075rem {
  font-size: 0.75rem;
}

.line-height-075rem {
  line-height: 0.75rem;
}

.font-size-075em {
  font-size: 0.75em;
}

.line-height-075em {
  line-height: 0.75em;
}

.font-size-0875rem {
  font-size: 0.875rem;
}

.line-height-0875rem {
  line-height: 0.875rem;
}

.font-size-0875em {
  font-size: 0.875em;
}

.line-height-0875em {
  line-height: 0.875em;
}

.font-size-1rem {
  font-size: 1rem;
}

.line-height-1rem {
  line-height: 1rem;
}

.font-size-1em {
  font-size: 1em;
}

.line-height-1em {
  line-height: 1em;
}

.font-size-1125rem {
  font-size: 1.125rem;
}

.line-height-1125rem {
  line-height: 1.125rem;
}

.font-size-1125em {
  font-size: 1.125em;
}

.line-height-1125em {
  line-height: 1.125em;
}

.font-size-125rem {
  font-size: 1.25rem;
}

.line-height-125rem {
  line-height: 1.25rem;
}

.font-size-125em {
  font-size: 1.25em;
}

.line-height-125em {
  line-height: 1.25em;
}

.font-size-15rem {
  font-size: 1.5rem;
}

.line-height-15rem {
  line-height: 1.5rem;
}

.font-size-15em {
  font-size: 1.5em;
}

.line-height-15em {
  line-height: 1.5em;
}

.font-size-175rem {
  font-size: 1.75rem;
}

.line-height-175rem {
  line-height: 1.75rem;
}

.font-size-175em {
  font-size: 1.75em;
}

.line-height-175em {
  line-height: 1.75em;
}

.font-size-1875rem {
  font-size: 1.875rem;
}

.line-height-1875rem {
  line-height: 1.875rem;
}

.font-size-1875em {
  font-size: 1.875em;
}

.line-height-1875em {
  line-height: 1.875em;
}

.font-size-2rem {
  font-size: 2rem;
}

.line-height-2rem {
  line-height: 2rem;
}

.font-size-2em {
  font-size: 2em;
}

.line-height-2em {
  line-height: 2em;
}

.font-size-2125rem {
  font-size: 2.125rem;
}

.line-height-2125rem {
  line-height: 2.125rem;
}

.font-size-2125em {
  font-size: 2.125em;
}

.line-height-2125em {
  line-height: 2.125em;
}

.font-size-225rem {
  font-size: 2.25rem;
}

.line-height-225rem {
  line-height: 2.25rem;
}

.font-size-225em {
  font-size: 2.25em;
}

.line-height-225em {
  line-height: 2.25em;
}

.font-size-25rem {
  font-size: 2.5rem;
}

.line-height-25rem {
  line-height: 2.5rem;
}

.font-size-25em {
  font-size: 2.5em;
}

.line-height-25em {
  line-height: 2.5em;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-static {
  position: static;
}

.position-sticky {
  position: sticky;
}

.position-inherit {
  position: inherit;
}

.position-initial {
  position: initial;
}

.position-unset {
  position: unset;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-unset {
  float: unset;
}

.padding-0px {
  padding: 0px;
}

.padding-left-0px {
  padding-left: 0px;
}

.padding-right-0px {
  padding-right: 0px;
}

.padding-top-0px {
  padding-top: 0px;
}

.padding-bottom-0px {
  padding-bottom: 0px;
}

.margin-0px {
  margin: 0px;
}

.margin-left-0px {
  margin-left: 0px;
}

.margin-right-0px {
  margin-right: 0px;
}

.margin-top-0px {
  margin-top: 0px;
}

.margin-bottom-0px {
  margin-bottom: 0px;
}

.padding-2px {
  padding: 2px;
}

.padding-left-2px {
  padding-left: 2px;
}

.padding-right-2px {
  padding-right: 2px;
}

.padding-top-2px {
  padding-top: 2px;
}

.padding-bottom-2px {
  padding-bottom: 2px;
}

.margin-2px {
  margin: 2px;
}

.margin-left-2px {
  margin-left: 2px;
}

.margin-right-2px {
  margin-right: 2px;
}

.margin-top-2px {
  margin-top: 2px;
}

.margin-bottom-2px {
  margin-bottom: 2px;
}

.padding-4px, .box-shadow {
  padding: 4px;
}

.padding-left-4px {
  padding-left: 4px;
}

.padding-right-4px {
  padding-right: 4px;
}

.padding-top-4px {
  padding-top: 4px;
}

.padding-bottom-4px {
  padding-bottom: 4px;
}

.margin-4px {
  margin: 4px;
}

.margin-left-4px {
  margin-left: 4px;
}

.margin-right-4px {
  margin-right: 4px;
}

.margin-top-4px {
  margin-top: 4px;
}

.margin-bottom-4px {
  margin-bottom: 4px;
}

.padding-6px {
  padding: 6px;
}

.padding-left-6px {
  padding-left: 6px;
}

.padding-right-6px {
  padding-right: 6px;
}

.padding-top-6px {
  padding-top: 6px;
}

.padding-bottom-6px {
  padding-bottom: 6px;
}

.margin-6px {
  margin: 6px;
}

.margin-left-6px {
  margin-left: 6px;
}

.margin-right-6px {
  margin-right: 6px;
}

.margin-top-6px {
  margin-top: 6px;
}

.margin-bottom-6px {
  margin-bottom: 6px;
}

.padding-8px {
  padding: 8px;
}

.padding-left-8px {
  padding-left: 8px;
}

.padding-right-8px {
  padding-right: 8px;
}

.padding-top-8px {
  padding-top: 8px;
}

.padding-bottom-8px {
  padding-bottom: 8px;
}

.margin-8px {
  margin: 8px;
}

.margin-left-8px {
  margin-left: 8px;
}

.margin-right-8px {
  margin-right: 8px;
}

.margin-top-8px {
  margin-top: 8px;
}

.margin-bottom-8px {
  margin-bottom: 8px;
}

.padding-10px {
  padding: 10px;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-right-10px {
  padding-right: 10px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-bottom-10px {
  padding-bottom: 10px;
}

.margin-10px {
  margin: 10px;
}

.margin-left-10px {
  margin-left: 10px;
}

.margin-right-10px {
  margin-right: 10px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.padding-12px {
  padding: 12px;
}

.padding-left-12px {
  padding-left: 12px;
}

.padding-right-12px {
  padding-right: 12px;
}

.padding-top-12px {
  padding-top: 12px;
}

.padding-bottom-12px {
  padding-bottom: 12px;
}

.margin-12px {
  margin: 12px;
}

.margin-left-12px {
  margin-left: 12px;
}

.margin-right-12px {
  margin-right: 12px;
}

.margin-top-12px {
  margin-top: 12px;
}

.margin-bottom-12px {
  margin-bottom: 12px;
}

.padding-14px {
  padding: 14px;
}

.padding-left-14px {
  padding-left: 14px;
}

.padding-right-14px {
  padding-right: 14px;
}

.padding-top-14px {
  padding-top: 14px;
}

.padding-bottom-14px {
  padding-bottom: 14px;
}

.margin-14px {
  margin: 14px;
}

.margin-left-14px {
  margin-left: 14px;
}

.margin-right-14px {
  margin-right: 14px;
}

.margin-top-14px {
  margin-top: 14px;
}

.margin-bottom-14px {
  margin-bottom: 14px;
}

.padding-16px {
  padding: 16px;
}

.padding-left-16px {
  padding-left: 16px;
}

.padding-right-16px {
  padding-right: 16px;
}

.padding-top-16px {
  padding-top: 16px;
}

.padding-bottom-16px {
  padding-bottom: 16px;
}

.margin-16px {
  margin: 16px;
}

.margin-left-16px {
  margin-left: 16px;
}

.margin-right-16px {
  margin-right: 16px;
}

.margin-top-16px {
  margin-top: 16px;
}

.margin-bottom-16px {
  margin-bottom: 16px;
}

.padding-18px {
  padding: 18px;
}

.padding-left-18px {
  padding-left: 18px;
}

.padding-right-18px {
  padding-right: 18px;
}

.padding-top-18px {
  padding-top: 18px;
}

.padding-bottom-18px {
  padding-bottom: 18px;
}

.margin-18px {
  margin: 18px;
}

.margin-left-18px {
  margin-left: 18px;
}

.margin-right-18px {
  margin-right: 18px;
}

.margin-top-18px {
  margin-top: 18px;
}

.margin-bottom-18px {
  margin-bottom: 18px;
}

.padding-20px {
  padding: 20px;
}

.padding-left-20px {
  padding-left: 20px;
}

.padding-right-20px {
  padding-right: 20px;
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-bottom-20px {
  padding-bottom: 20px;
}

.margin-20px {
  margin: 20px;
}

.margin-left-20px {
  margin-left: 20px;
}

.margin-right-20px {
  margin-right: 20px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.padding-22px {
  padding: 22px;
}

.padding-left-22px {
  padding-left: 22px;
}

.padding-right-22px {
  padding-right: 22px;
}

.padding-top-22px {
  padding-top: 22px;
}

.padding-bottom-22px {
  padding-bottom: 22px;
}

.margin-22px {
  margin: 22px;
}

.margin-left-22px {
  margin-left: 22px;
}

.margin-right-22px {
  margin-right: 22px;
}

.margin-top-22px {
  margin-top: 22px;
}

.margin-bottom-22px {
  margin-bottom: 22px;
}

.padding-24px {
  padding: 24px;
}

.padding-left-24px {
  padding-left: 24px;
}

.padding-right-24px {
  padding-right: 24px;
}

.padding-top-24px {
  padding-top: 24px;
}

.padding-bottom-24px {
  padding-bottom: 24px;
}

.margin-24px {
  margin: 24px;
}

.margin-left-24px {
  margin-left: 24px;
}

.margin-right-24px {
  margin-right: 24px;
}

.margin-top-24px {
  margin-top: 24px;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.color-success {
  color: #67C23A;
}

.bg-color-success {
  background-color: #67C23A;
}

.bd-color-success {
  border-color: #67C23A;
}

.color-warning {
  color: #E6A23C;
}

.bg-color-warning {
  background-color: #E6A23C;
}

.bd-color-warning {
  border-color: #E6A23C;
}

.color-danger {
  color: #F56C6C;
}

.bg-color-danger {
  background-color: #F56C6C;
}

.bd-color-danger {
  border-color: #F56C6C;
}

.color-info {
  color: #909399;
}

.bg-color-info {
  background-color: #909399;
}

.bd-color-info {
  border-color: #909399;
}

.color-default {
  color: #409EFF;
}

.bg-color-default {
  background-color: #409EFF;
}

.bd-color-default {
  border-color: #409EFF;
}

.radius, .box-shadow {
  border-radius: 4px;
}

.box-shadow {
  box-shadow: 1px 1px 3px 2px #e3e3e3;
}

.box-shadow-default {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.box-shadow-inside {
  box-shadow: inset 0 0 3px #e3e3e3;
  overflow: hidden;
}

.full {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.scroll {
  overflow: auto;
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-hidden {
  overflow: hidden;
}

.scroll-x-hidden {
  overflow-x: hidden;
}

.scroll-y-hidden {
  overflow-y: hidden;
}

.display-none {
  display: none;
}

/**
 * 重置element-ui之scrollbae样式
 */
div::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  opacity: 0.8;
  background: rgba(144, 147, 153, 0.3);
}

div::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}