$borderColor:#e3e3e3; // 边框颜色
$tableBorderColor:#e3e3e3; // table边框颜色
$tableHeadBgColor:#e3e3e3; // table的head背景色
$tableFootBgColor:#e9e9e9; // table的foot背景色
$shadowColor:#e3e3e3; // 阴影颜色
$radius:4px; // 圆角度
$secondTextColor:#909399; // 次级文本颜色（主要文本颜色为默认）

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
}



// layout-flex -- start 

.layout-flex {
    display: flex;

    &.row {
        flex-direction: row;

        &.center {
            justify-content: center;
            align-items: center;
        }

        &.center-row {
            justify-content: center;
        }

        &.center-column {
            align-items: center;
        }

        &.between {
            justify-content: space-between;
        }

        // &>* {
        //     height: 100%;
        // }
    }

    &.column {
        flex-direction: column;

        &.center {
            justify-content: center;
            align-items: center;
        }

        &.center-row {
            align-items: center;
        }

        &.center-column {
            justify-content: center;
        }

        &.between {
            justify-content: space-between;
        }

        // &>* {
        //     width: 100%;
        // }
    }

    &>.flex {
        flex: 1;
    }

    @for $i from 1 to 10 {
        &>.flex#{$i} {
            flex: #{$i};
            overflow: hidden;
        }
    }
}

// layout-flex -- end 

// layout-inline -- start 

.layout-inline {
    display: inline;
    line-height: normal;
}

// 行内布局容器-内部的任何元素都会被强制定义为行内元素
.layout-inline-container {
    font-size: 0; // 设置inline的布局元素的父级元素不设置为0，前后会有空
    display: inline-block;
    line-height: normal;
    zoom: 1;

    &>* {
        font-size: 1rem;
        display: inline;
        line-height: normal;
    }

    &>.right {
        float: right;
    }

    &>.left {
        float: left;
    }

    &.clear::after {
        content: '';
        display: block;
        clear: both;
    }
}

// layout-inline -- end 

// layout-inline-block -- start

.layout-inline-block {
    display: inline-block;
}

.layout-inline-block-container {
    font-size: 0;
    display: inline-block;
    zoom: 1;


    &>* {
        display: inline-block;
        font-size: 1rem;
    }

    &>.right {
        float: right;
    }

    &>.left {
        float: left;
    }

    &.clear::after {
        content: '';
        display: block;
        clear: both;
    }
}

// layout-inline-block -- end

// layout-block -- start 
.layout-block {
    display: block;
}

.layout-block-container {
    display: block;

    &>* {
        display: block;
    }
}

// layout-block -- end 


// layout-table -- start 

.layout-table {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;

    &.center {
        margin: 0 auto;
    }

    .caption {
        display: table-caption;
        text-align: center;
        line-height: 1.5;
        font-weight: bold;
        font-size: 1.5rem;
        caption-side: top;

        &.bottom {
            caption-side: bottom;
            font-size: 1.125rem;
            font-weight: normal;
        }

        &.title1 {
            font-size: 1.5rem;
        }

        &.title2 {
            font-size: 1.25rem;
        }

        &.title3 {
            font-size: 1.125rem;
        }
    }

    .colgroup {
        display: table-column-group;

        &>* {
            display: table-column;
        }
    }

    .header {
        display: table-header-group;
    }

    .body {
        display: table-row-group;
    }

    .footer {
        display: table-footer-group;
    }

    &>.tr,
    &>.header>.tr,
    &>.body>.tr,
    &>.footer>.tr {
        display: table-row;
        line-height: 1.75;
        font-size: 1rem;

        &>* {
            display: table-cell;
            border: 1px solid $tableBorderColor;
            padding: 0 5px;
        }
    }

    &>.header>.tr>* {
        font-weight: bold;
    }

    &>.header>.tr {
        background-color: $tableHeadBgColor; // 颜色后面要按设计改
    }

    &>.footer>.tr {
        background-color: $tableFootBgColor; // 颜色后面要按设计改
    }
}

// layout-table -- end 

// layout-grid -- start 

.layout-grid {
    display: grid;

    //PS：自由度太高了，无法精准封装
}

// layout-grid -- end 

// layout-custom --start

.custom-box {
    display: flex;
    flex-direction: column;

    border: 1px solid $borderColor;

    .header {
        height: 2.5rem;
        border-bottom: 1px solid $borderColor;
        padding: 0 1rem;
    }

    .body {
        flex: 1;
        overflow: hidden;
        padding: 0.5rem 1rem;
    }

    .footer {
        height: 3.125rem;
        border-top: 1px solid $borderColor;
        padding: 0 1rem;
    }

    .header,
    .footer {
        display: flex;
        align-items: center;

        &>.right {
            margin-left: auto;
        }

        &.center {
            justify-content: center;

            &>.right {
                margin-left: unset;
            }
        }
    }

    &.shadow {
        box-shadow: 1px 1px 3px 2px $shadowColor;
    }
}

.custom-list {
    display: flex;
    flex-direction: column;

    &>.item {
        padding: 0.5rem;
        margin: 0 5px;

        &+.item {
            border-top: 1px solid $borderColor;
        }

        &>.title {
            &+.desc {
                margin-top: 5px;
            }
        }

        &>.desc {
            font-size: 0.875rem;
            line-height: 1.25rem;
            color: $secondTextColor;
        }
    }
}

// 可点击的链接样式
.link {
    color: #409EFF;
    cursor: pointer;

    // &:link {
    //     // color: red;
    // }

    &:hover {
        text-decoration: underline;
        color: blue;
        text-shadow: 0px 0px 1px cadetblue;
    }

    &:active {
        color: blueviolet;
    }

    &:visited {
        color: blueviolet;
    }
}

// layout-custom --end


// common -- start 

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

// 文本缩略
.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// font-szie => 12px ~ 24px (期间只取偶数) 【基于像素点】
@for $size from 12 to 25 {
    @if $size%2==0 {
        .font-size-#{$size}px {
            font-size: #{$size}px;
        }
    }
}

// font-size / line-height => 0.75rem ~ 2.5rem (只生成了比较常用的值) 【基于rem】
@each $key,
$val,
$key2,
$val2 in ('075rem', 0.75rem, '075em', 0.75em),
('0875rem', 0.875rem, '0875em', 0.875em),
('1rem', 1rem, '1em', 1em),
('1125rem', 1.125rem, '1125em', 1.125em),
('125rem', 1.25rem, '125em', 1.25em),
('15rem', 1.5rem, '15em', 1.5em),
('175rem', 1.75rem, '175em', 1.75em),
('1875rem', 1.875rem, '1875em', 1.875em),
('2rem', 2rem, '2em', 2em),
('2125rem', 2.125rem, '2125em', 2.125em),
('225rem', 2.25rem, '225em', 2.25em),
('25rem', 2.5rem, '25em', 2.5em),
    {
    .font-size-#{$key} {
        font-size: #{$val};
    }

    .line-height-#{$key} {
        line-height: #{$val};
    }

    .font-size-#{$key2} {
        font-size: #{$val2};
    }

    .line-height-#{$key2} {
        line-height: #{$val2};
    }
}

// positon => 生成常用值
@each $item in relative,
absolute,
fixed,
static,
sticky,
inherit,
initial,
unset {
    .position-#{$item} {
        position: #{$item};
    }
}

// float => 生成常用float值
@each $item in left,
right,
unset {
    .float-#{$item} {
        float: #{$item};
    }
}

// padding / margin => 生成常用的值 0px~24px
@for $size from 0 to 25 {
    @if $size%2==0 {
        .padding-#{$size}px {
            padding: #{$size}px;
        }

        .padding-left-#{$size}px {
            padding-left: #{$size}px;
        }

        .padding-right-#{$size}px {
            padding-right: #{$size}px;
        }

        .padding-top-#{$size}px {
            padding-top: #{$size}px;
        }

        .padding-bottom-#{$size}px {
            padding-bottom: #{$size}px;
        }


        .margin-#{$size}px {
            margin:#{$size}px;
        }

        .margin-left-#{$size}px {
            margin-left:#{$size}px;
        }

        .margin-right-#{$size}px {
            margin-right:#{$size}px;
        }

        .margin-top-#{$size}px {
            margin-top:#{$size}px;
        }

        .margin-bottom-#{$size}px {
            margin-bottom:#{$size}px;
        }
    }
}

// color[字体色] / bg-color[背景色] / bd-color[边框色] => 基于elementUI生成它提供的几种颜色类型
@each $key,
$val in ('success', '#67C23A'),
('warning', '#E6A23C'),
('danger', '#F56C6C'),
('info', '#909399'),
('default', '#409EFF') {
    .color-#{$key} {
        color: #{$val};
    }

    .bg-color-#{$key} {
        background-color: #{$val};
    }

    .bd-color-#{$key} {
        border-color: #{$val};
    }
}

// 圆角
.radius {
    border-radius: $radius;
}

// box阴影
.box-shadow {
    box-shadow: 1px 1px 3px 2px $shadowColor; // 后期可以根据UI统一阴影颜色

    @extend .radius;
    @extend .padding-4px;
}

// box阴影（对标element-ui的卡片样式）
.box-shadow-default {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

// box阴影（向内塌陷）
.box-shadow-inside {
    box-shadow: inset 0 0 3px $shadowColor;
    overflow: hidden;
}



// full -- start 

.full {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

// full -- end 


// scroll -- start 

.scroll {
    overflow: auto;
}

.scroll-x {
    overflow-x: auto;
}

.scroll-y {
    overflow-y: auto;
}

.scroll-hidden {
    overflow: hidden;
}

.scroll-x-hidden {
    overflow-x: hidden;
}

.scroll-y-hidden {
    overflow-y: hidden;
}

.display-none {
    display: none;
}

// scroll -- end 

// common -- end 


/**
 * 重置element-ui之scrollbae样式
 */
// .el-scrollbar {
//     height: 100%;
//     width: 100%;

//     .el-scrollbar__wrap {
//         overflow-x: hidden;
//     }
// }

div::-webkit-scrollbar {
    width: 6px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 4px;
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    background: rgba(144, 147, 153, .3);
}

div::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: transparent;
}